.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
        max-width: 108px;
    }
}

.text--custum {
    color: #fff;
    text-align: justify;
}

.bg-orange {
    background-color: #02d12b;
}

.btn-whatsapp {
    background-color: #128c7e;
    --bs-btn-color: #fff;
    --bs-btn-bg: #128c7e;
    --bs-btn-border-color: #128c7e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #128c7e;
    --bs-btn-hover-border-color: #128c7e;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #128c7e;
    --bs-btn-active-border-color: #128c7e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #128c7e;
    --bs-btn-disabled-border-color: #128c7e;
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-disabled-color: #fff;
}

.text-color-white {
    color: #FFF;
}

#socialNetworks {
    margin: 5vh 0;
    padding: 0 5vw;
    align-items: center;
    justify-content: space-evenly;
}

.social--burbble {
    color: #FFF;
    cursor: pointer;
    padding: 5px 20px;
    width: fit-content;
    border-radius: 30px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
}

.social--burbble:hover {
    transform: scale(105%);
}

.fw-light {
    color: rgb(162, 126, 151);
}
imagen{
    width: 150px;
    height: 150px;
}

/*.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}*/